*.pyc
*.swp

# Packages
*.egg
.eggs/
!/tests/**/*.egg
*/*.egg-info
*.egg-info
/dist/*
/wheelhouse/*
pip-wheel-metadata
build
_build
.cache
*.so

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
.pytest_cache

# Rust Library
lib/target/
lib/Cargo.lock
**/*.rs.bk
