name: Ruby Package

on:
  push:
    branches:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  linux-build:
    name: Build linux gem amd64
    runs-on: ubuntu-x64-large

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: stable
      - run: make gem/linux/amd64
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: "linux.gem"
          path: pyroscope_ffi/ruby/pkg/*.gem
  macos-build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - macos-version: "14"
            target: x86_64-apple-darwin
            mk-arch: amd64
          - macos-version: "14"
            target: aarch64-apple-darwin
            mk-arch: arm64

    name: macOS - ${{ matrix.target }}
    runs-on: macos-${{ matrix.macos-version }}

    env:
      RUST_TARGET: ${{ matrix.target }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: '3.1'
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: 1.85.0
          targets: ${{ matrix.target }}
      - run: make gem/mac/${{ matrix.mk-arch }}
      - uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ github.sha }}-ruby-${{ matrix.target }}
          path: pyroscope_ffi/ruby/pkg/*.gem

  linux-test:
    strategy:
      fail-fast: false
      matrix:
        PYROSCOPE_ONCPU: [1, 0]
        RUBY_VERSION: ['3.1', '3.2', '3.3', '3.3.8', '3.4.3']
    needs: ['linux-build']
    name: Linux Test
    runs-on: ubuntu-x64-large
    steps:
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: ${{ matrix.RUBY_VERSION }}
      - uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # 4.3.0
        with:
          name: "linux.gem"
          path: "${{github.workspace}}/ruby"
      - run: "cd ${{ github.workspace }}/ruby && ls -l"
      - run: "cd ${{ github.workspace }}/ruby && gem install *.gem"
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - name: Run Ruby Script
        run: pyroscope_ffi/ruby/scripts/tests/test.rb
        env:
          PYROSCOPE_RUN_ID: ${{ github.run_id }}
          PYROSCOPE_ARCH: x86-64-linux
          PYROSCOPE_API_TOKEN: ${{ secrets.PYROSCOPE_API_TOKEN }}
          PYROSCOPE_ONCPU: ${{ matrix.PYROSCOPE_ONCPU }}
          RUBY_VERSION: ${{ matrix.RUBY_VERSION }}

