name: Ruby Package

on:
  push:
    branches:
  pull_request:
    branches: [main]

permissions:
  contents: read

jobs:
  linux-build:
    name: Build linux gem amd64
    runs-on: ubuntu-x64-large

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1
        with:
          toolchain: stable
      - run: make gem/linux/amd64
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: "linux.gem"
          path: pyroscope_ffi/ruby/pkg/*.gem
  macos-build:
    strategy:
      fail-fast: false
      matrix:
        include:
          - macos-version: "14"
            target: x86_64-apple-darwin
            mk-arch: amd64
          - macos-version: "14"
            target: aarch64-apple-darwin
            mk-arch: arm64

    name: macOS - ${{ matrix.target }}
    runs-on: macos-${{ matrix.macos-version }}

    env:
      RUST_TARGET: ${{ matrix.target }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@dffc446db9ba5a0c4446edb5bca1c5c473a806c5 # v1.235.0
        with:
          ruby-version: '3.1'
      - uses: dtolnay/rust-toolchain@888c2e1ea69ab0d4330cbf0af1ecc7b68f368cc1
        with:
          toolchain: 1.85.0
          targets: ${{ matrix.target }}
      - run: make gem/mac/${{ matrix.mk-arch }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ github.sha }}-ruby-${{ matrix.target }}
          path: pyroscope_ffi/ruby/pkg/*.gem

  linux-test:
    strategy:
      fail-fast: false
      matrix:
        PYROSCOPE_DETECT_SUBPROCESSES: [1, 0]
        PYROSCOPE_ONCPU: [1, 0]
        RUBY_VERSION: ['3.1', '3.2', '3.3', '3.3.8', '3.4.3']
    needs: ['linux-build']
    name: Linux Test
    runs-on: ubuntu-x64-large
    steps:
      - uses: ruby/setup-ruby@dffc446db9ba5a0c4446edb5bca1c5c473a806c5 # v1.235.0
        with:
          ruby-version: ${{ matrix.RUBY_VERSION }}
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # 7.0.0
        with:
          name: "linux.gem"
          path: "${{github.workspace}}/ruby"
      - run: "cd ${{ github.workspace }}/ruby && ls -l"
      - run: "cd ${{ github.workspace }}/ruby && gem install *.gem"
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Run Ruby Script
        run: pyroscope_ffi/ruby/scripts/tests/test.rb
        env:
          PYROSCOPE_RUN_ID: ${{ github.run_id }}
          PYROSCOPE_ARCH: x86-64-linux
          PYROSCOPE_API_TOKEN: ${{ secrets.PYROSCOPE_API_TOKEN }}
          PYROSCOPE_DETECT_SUBPROCESSES: ${{ matrix.PYROSCOPE_DETECT_SUBPROCESSES }}
          PYROSCOPE_ONCPU: ${{ matrix.PYROSCOPE_ONCPU }}
          RUBY_VERSION: ${{ matrix.RUBY_VERSION }}

