name: pyroscope-cli

on:
  pull_request:
    branches: [ main ]

permissions:
  contents: read

jobs:
  linux-build:
    name: Linux build
    runs-on: ubuntu-x64-small
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - run: rustup toolchain install stable && rustup default stable
      - run: cargo build -p pyroscope-cli

  linux-build-docker:
    name: Linux build docker
    runs-on: ubuntu-x64-small
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - run: make cli/docker-image
