name: Push ruby gems

on:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write

jobs:
  push-ruby-gems:
    name: "Push ruby gems"
    runs-on: ubuntu-x64-small
    if: "startsWith(github.event.release.tag_name, 'ruby-')"
    outputs:
      files_json: ${{ steps.list-files.outputs.files_json }}
    steps:
      - name: Get secrets from Vault
        uses: grafana/shared-workflows/actions/get-vault-secrets@main
        with:
          repo_secrets: |
            RUBYGEMS_API_KEY=publishing:rubygems_api_key
      - uses: robinraju/release-downloader@daf26c55d821e836577a15f77d86ddc078948b05 # 1.12
        with:
          tag: ${{ github.event.release.tag_name }}
          fileName: "*"
          tarBall: false
          zipBall: false
          out-file-path: "dist"
          token: ${{ secrets.GITHUB_TOKEN }}
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: '4.0.1'
      - run: |
          set -ex
          cd dist
          ls
          for gem in *.gem;
          do
            gem push "${gem}";
            sleep 5;
          done
        env:
          GEM_HOST_API_KEY: ${{ env.RUBYGEMS_API_KEY }}


