name: Ruby Release

on:
  push:
    tags:
      - 'ruby-*'


jobs:
  ruby-release-linux:
    permissions:
      contents: write
    needs: [ 'ruby-release' ]
    name: Release Linux gem amd64
    runs-on: ubuntu-x64-large
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - run: make gem/linux/amd64
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ github.sha }}-ruby-amd64
          path: pyroscope_ffi/ruby/pkg/*.gem

      - name: Upload release artifact
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.3.3
        with:
          files: pyroscope_ffi/ruby/pkg/*.gem

  ruby-release-linux-arm:
    permissions:
      contents: write
    needs: [ 'ruby-release' ]
    name: Release Linux gem arm64
    runs-on: ubuntu-arm64-large
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - run: make gem/linux/arm64
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ github.sha }}-ruby-arm64
          path: pyroscope_ffi/ruby/pkg/*.gem

      - name: Upload release artifact
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.3.3
        with:
          files: pyroscope_ffi/ruby/pkg/*.gem

  ruby-release-macos:
    permissions:
      contents: write
    needs: [ 'ruby-release' ]
    strategy:
      fail-fast: false
      matrix:
        include:
          - macos-version: "14"
            target: x86_64-apple-darwin
            mk-arch: amd64
          - macos-version: "14"
            target: aarch64-apple-darwin
            mk-arch: arm64

    name: macOS - ${{ matrix.target }}
    runs-on: macos-${{ matrix.macos-version }}

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: '3.1'
      - uses: dtolnay/rust-toolchain@f7ccc83f9ed1e5b9c81d8a67d7ad1a747e22a561
        with:
          toolchain: 1.85.0
          target: ${{ matrix.target }}

      - run: make pyroscope_ffi/clean gem/mac/${{ matrix.mk-arch }}

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ github.sha }}-ruby-mac-${{ matrix.target }}
          path: pyroscope_ffi/ruby/pkg/*.gem

      - name: Upload release artifact
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.3.3
        with:
          files: pyroscope_ffi/ruby/pkg/*.gem

  ruby-release-source:
    permissions:
      contents: write
    needs: [ 'ruby-release' ]
    name: source
    runs-on: ubuntu-x64-small

    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false

      - uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd # v1.288.0
        with:
          ruby-version: '3.1'

      - name: Install bundles
        run: bundle
        working-directory: pyroscope_ffi/ruby

      - name: Build source gem
        run: rake source:gem
        working-directory: pyroscope_ffi/ruby

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: ${{ github.sha }}-ruby-source
          path: pyroscope_ffi/ruby/pkg/*.gem

      - name: Upload release artifact
        uses: softprops/action-gh-release@da05d552573ad5aba039eaac05058a918a7bf631 # v2.3.3
        with:
          files: pyroscope_ffi/ruby/pkg/*.gem

  ruby-release:
    permissions:
      contents: write
    name: Ruby Gem
    runs-on: ubuntu-x64-small
    steps:
      - id: auto-release
        uses: "marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0" # v1.2.1 TODO(korniltsev): get rid of this, this one is unmaintained
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ github.ref_name }}"
          title: "Ruby Gem: ${{ github.ref_name }}"
          draft: true
          prerelease: false
