name: Pre-Release

on: [ push ]

jobs:
  lib-release:
    permissions:
      contents: write
    name: pyroscope-main
    runs-on: ubuntu-x64-small
    if: "startsWith(github.ref, 'refs/tags/lib-')"
    steps:
      - uses: "marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0" # v1.2.1 TODO(korniltsev): get rid of this, this one is unmaintained
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ github.ref_name }}"
          title: "pyroscope-${{ github.ref_name }}"
          draft: true
          prerelease: false

  pprofrs-release:
    permissions:
      contents: write
    name: pyroscope-pprofrs
    runs-on: ubuntu-x64-small
    if: "startsWith(github.ref, 'refs/tags/pprofrs-')"
    steps:
      - uses: "marvinpinto/action-automatic-releases@919008cf3f741b179569b7a6fb4d8860689ab7f0" # v1.2.1 TODO(korniltsev): get rid of this, this one is unmaintained
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ github.ref_name }}"
          title: "Backend: ${{ github.ref_name }}"
          draft: true
          prerelease: false
