[package]
name = "rbspy"
version = "0.1.0"
edition = "2021"
rust-version = "1.63"

[lib]
name = "rbspy"
crate-type = ["cdylib"]

[dependencies]
pyroscope = { path = "../../../../" }
pyroscope_rbspy = { path = "../../../../pyroscope_backends/pyroscope_rbspy" }
ffikit = { path = "../../../ffikit" }
pretty_env_logger = "0.4.0"
inferno = "=0.11.14"
libc = "*"

[build-dependencies]
cbindgen = "0.20.0"

[profile.release]
opt-level= "z"
debug = false
lto = true
codegen-units = 1
