[package]
name = "ffiruby"
version = "0.1.0"
edition = "2021"
rust-version = "1.64"

[lib]
name = "rbspy"
crate-type = ["cdylib"]

[dependencies]
pyroscope = { path = "../../../../" }
pyroscope_rbspy = { path = "../../../../pyroscope_backends/pyroscope_rbspy" }
ffikit = { path = "../../../ffikit" }
# todo remove this dependency
pretty_env_logger = "0.5"
log = "0.4"
serde_json = "1.0.140"

[build-dependencies]
cbindgen = "0.28"

